<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="..\static\styles.css">
        <title>New Dojo</title>
    </head>
    <body>
        <div class="container bg test">
            <h1>Welcome {{user}}!</h1>
            <div class="container d-flex">
                <p>All posted recipes:</p>
                <div class="container d-flex align-items-start">
                    <a href="/create_recipe">+ Create </a>
                    <a href="/clear_session">
                        <button type="submit" class="btn btn-primary ">Logout</button>
                    </a>
                </div>

            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Under 30</th>
                    <th scope="col">Posted By</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
    </body>
</html>