<!DOCTYPE html>
<html>
    <head>
        <title>counter</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
            <h1>Counter</h1>
            <p>{{session["count"]}}</p>
            <div class="container d-flex align-items-center justify-content-center">
                <form action="/increment" method="post">
                    <button class="btn btn-primary" name="add-one" value="Click">Click</button>
                </form>
                <form action="/destroy_session" method="post">
                    <button class="btn btn-danger" name="reset" value="RESET">Reset</button>
                </form>

            </div>
          </div>

        
    </body>
</html>