<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <!-- <link rel="stylesheet" href="static/css/styles.css"> -->
        <title>checkerboard</title>
    </head>
    <body>
        <div class="container">
            {% for i in range(0,num) %}
            <div class="row">
                {% for i in range (0, width) %}
                <div class="red-box" style="background-color: {{color1}};"></div>
                <div class="black-box" style="background-color: {{color2}};"></div>
                {% endfor %}
            </div>
            <div class="row">
                {% for i in range (0, width) %}
                <div class="black-box" style="background-color: {{color2}};"></div>
                <div class="red-box" style="background-color: {{color1}};"></div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>